{% block content %}
<html>
<title>Home Page</title>
<head>
{% stylesheets '@AcmeTestBundle/Resources/public/css/*' filter="cssrewrite" %}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}

{% javascripts '@AcmeTestBundle/Resources/public/js/*' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
               <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</head>
<body>
<div class="header">
<h3 style="padding:4px;margin:0;">CUELOGIC</h3>
<div style="float:right;position:relative;top:-30px;">
<a href="{{path('test_login')}}"><span style='color:#fff'>Login</span></a>&nbsp;|&nbsp;
<a href="{{path('test_mail')}}"><span style='color:#fff'>Mail Us</span></a>
</div>
</div>
<div style="margin-bottom:5px;margin-left:10px" class="links">
<a href="{{path('test_homepage')}}">Home</a>
<a href="{{path('test_about')}}">About Me</a>
<a href="{{path('test_join')}}">Join Us</a>
<a href="{{path('test_client')}}">Client</a>
<a href="{{path('test_photos')}}">Gallery</a>
</div>

{% block middle%}

{% endblock %}

{% block footer %}
<div class='footer'>
<a href="{{path('test_terms')}}" class='terms'><span >Terms and Conditions</span></a>&nbsp;powered by Cuelogic
</div>
{% endblock %}

</body>
{% endblock%}