{% extends 'AcmeTestBundle::layout.html.twig'%}

{% block content %}
	{{ parent() }}	
{% endblock %}

{% block middle %}
<div class="middle">
Welcome to Registration page

{% for flashMessage in app.session.flashbag.get('notice') %}
 
<div class='alert alert-success'>{{ flashMessage }}</div>
 
{% endfor %}


<div class="form">
{{ form_start(form , {attr :{novalidate:'novalidate'}}) }}
<div style='width:500px;height:50px;float:left;'>
	{{ form_label(form.firstName) }}
	
	{{ form_widget(form.firstName) }}
	
</div>
<div class='errors'>
	{{ form_errors(form.firstName) }}
</div>

<div style='width:500px;height:50px;float:left;'>
	{{ form_label(form.lastName) }}
	
	{{ form_widget(form.lastName) }}
	
</div>
<div class='errors'>
	{{ form_errors(form.lastName) }}
</div>

<div style='width:500px;height:50px;float:left;'>
	{{ form_label(form.password.first) }}
	
	{{ form_widget(form.password.first,{ 'attr': {'class': 'form-control'} }) }}
	
</div>
<div class='errors'>
	{{ form_errors(form.password.first) }}
</div>

<div style='width:500px;height:50px;float:left;'>
	{{ form_label(form.password.second) }}
	
	{{ form_widget(form.password.second,{ 'attr': {'class': 'form-control'} }) }}
	
</div>
<div class='errors'>
	{{ form_errors(form.password.second) }}
</div>


<div style='width:500px;height:50px;float:left;'>
	{{ form_label(form.email) }}
	
	{{ form_widget(form.email) }}
	
</div>
<div class='errors'>
	{{ form_errors(form.email) }}
</div>

<div style='width:500px;height:50px;float:left;'>
	{{ form_label(form.birthDate) }}
	
	{{ form_widget(form.birthDate) }}
	
</div>
<div class='errors'>
	{{ form_errors(form.birthDate) }}
</div>	
<div style='width:530px;float:left;margin-left:100px;' >
	{{ form_widget(form.Register) }}
</div>
{{ form_end(form)}}
</div>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}