{% extends 'AcmeTestBundle::layout.html.twig'%}

{% block content %}
	{{ parent() }}	
{% endblock %}

{% block middle %}
<div class="middle">
Welcome to Registration page

{% for flashMessage in app.session.flashbag.get('notice') %}
 
<div style='color:red;font-size:12px;'>{{ flashMessage }}</div>
 
{% endfor %}


<div class="form">
{{ form_start(form , {attr :{novalidate:'novalidate'}}) }}
<div style='width:500px;height:35px;float:left;'>
	{{ form_label(form.firstName) }}
	
	{{ form_widget(form.firstName) }}
	<div class='errors'>
	{{ form_errors(form.firstName) }}
	</div>
</div>

<div style='width:500px;height:35px;float:left;'>
	{{ form_label(form.lastName) }}
	
	{{ form_widget(form.lastName) }}
	<div class='errors'>
	{{ form_errors(form.lastName) }}
	</div>
</div>

<div style='width:500px;height:35px;float:left;'>
	{{ form_label(form.password.first) }}
	
	{{ form_widget(form.password.first) }}
	<div class='errors'>
	{{ form_errors(form.password.first) }}
	</div>
</div>
<div style='width:500px;height:35px;float:left;'>
	{{ form_label(form.password.second) }}
	
	{{ form_widget(form.password.second) }}
	<div class='errors'>
	{{ form_errors(form.password.second) }}
	</div>
</div>



<div style='width:500px;height:35px;float:left;'>
	{{ form_label(form.email) }}
	
	{{ form_widget(form.email) }}
	<div class='errors'>
	{{ form_errors(form.email) }}
	</div>
</div>

<div style='width:500px;height:35px;float:left;'>
	{{ form_label(form.birthDate) }}
	
	{{ form_widget(form.birthDate) }}
	<div class='errors'>
	{{ form_errors(form.birthDate) }}
	</div>
</div>
	
{{ form_end(form)}}
</div>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}