{% extends 'AcmeTestBundle::layout.html.twig'%}

{% block content %}
	{{ parent() }}	
{% endblock %}

{% block middle %}
<div class="middle">
Welcome to Email page

{% for flashMessage in app.session.flashbag.get('notice') %}
 
<div style='color:red;font-size:12px;'>{{ flashMessage }}</div>
 
{% endfor %}


<div class="form">
{{ form_start(form , {attr :{novalidate:'novalidate'}}) }}
<div style='width:500px;'>
	{{ form_label(form.senderEmail,'To') }}
	
	{{ form_widget(form.senderEmail) }}
	<div class='errors'>
	{{ form_errors(form.senderEmail) }}
	</div>
</div>

<div style='width:500px;'>
	{{ form_label(form.subject) }}
	
	{{ form_widget(form.subject) }}
	<div class='errors'>
	{{ form_errors(form.subject) }}
	</div>
</div>

<div style='width:500px;'>
	{{ form_label(form.body) }}
	
	{{ form_widget(form.body) }}
	<div class='errors'>
	{{ form_errors(form.body) }}
	</div>
</div>
		
{{ form_end(form)}}

</div>

</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}