{% extends 'AcmeTestBundle::layout.html.twig'%}

{% block content %}
	{{ parent() }}	
{% endblock %}

{% block middle %}
<div class="middle">
Welcome to Login page

{% for flashMessage in app.session.flashbag.get('notice') %}
 
<div class='alert alert-danger'>{{ flashMessage }}</div>
 
{% endfor %}


<div class="form">
{{ form_start(form , {attr :{novalidate:'novalidate'}}) }}
<div style='width:500px;height:50px;'>
	{{ form_label(form.userName) }}
	
	{{ form_widget(form.userName) }}
	
</div>
<div class='errors'>
	{{ form_errors(form.userName) }}
</div>

<div style='width:500px;height:50px;'>
	{{ form_label(form.password) }}
	
	{{ form_widget(form.password) }}
	
</div>	
<div class='errors'>
	{{ form_errors(form.password) }}
</div>	

<div style='width:530px;float:left;margin-left:100px;' >
	{{ form_widget(form.login) }}
</div>
{{ form_end(form)}}

<div style='width:86px;float:right;position:relative;top:-25px;left:-280px;'>
{% block link %}
<a href='{{ path('test_register') }}'>New Register</a>
{% endblock %}
</div>




</div>

</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}